@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";

@source "./node_modules/heroui-native/lib";

@layer theme {
	:root {
		--radius: 0.5rem;
		--field-radius: 0.75rem;

		--background: oklch(12% 0.01 273.85);
		--foreground: oklch(99.11% 0.01 273.85);

		--muted: oklch(70.5% 0.02 273.85);

		--default: oklch(27.4% 0.01 273.85);
		--default-foreground: var(--foreground);

		--primary: oklch(0.432 0.232 292.759);
		--primary-foreground: var(--foreground);

		--accent: oklch(0.432 0.232 292.759);
		--accent-foreground: var(--foreground);

		--success: oklch(52.7% 0.154 150.069);
		--success-foreground: var(--foreground);

		--warning: oklch(55.4% 0.135 66.442);
		--warning-foreground: var(--foreground);

		--danger: oklch(50.5% 0.213 27.518);
		--danger-foreground: var(--foreground);

		--overlay: oklch(21.03% 0.02 273.85);
		--overlay-foreground: var(--foreground);
		--overlay-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.2) inset;

		--segment: oklch(39.64% 0.01 273.85);
		--segment-foreground: var(--foreground);

		--surface: oklch(21.03% 0.02 273.85);
		--surface-foreground: var(--foreground);
		--surface-secondary: oklch(25.7% 0.015 273.85);
		--surface-secondary-foreground: var(--foreground);
		--surface-tertiary: oklch(27.21% 0.015 273.85);
		--surface-tertiary-foreground: var(--foreground);
		/* --surface-shadow: 0 0 0 0 transparent inset; */

		--field-background: oklch(21.03% 0.02 273.85);
		--field-foreground: var(--foreground);
		--field-placeholder: var(--muted);
		--field-border: transparent;
		/* --field-shadow: 0 0 0 0 transparent inset; */

		--link: var(--accent);
		--focus: var(--accent);
		--border: oklch(28% 0.01 273.85);
		--separator: oklch(25% 0.01 273.85);
		--scrollbar: oklch(70.5% 0.01 273.85);
		/* --backdrop: oklch(0 0 0 / 20%); */
	}
}

@theme inline {
	--font-normal: "Outfit_400Regular";
	--font-medium: "Outfit_500Medium";
	--font-semibold: "Outfit_600SemiBold";
	--font-bold: "Outfit_700Bold";
	--font-black: "Outfit_800ExtraBold";
}
